@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@200;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

:root {
    --colorPrimary: #1d0f03;
    --colorSecondary: #FFBB0E;

    --navbarColor: rgba( 29, 15, 3, 0.5); 

    --bgColor: rgb(214, 211, 207);
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    // height: 5000px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

html {
    background-color: var(--bgColor);
}

// all in one
.btn {
    margin: 0 5px;
    font-weight: 600;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}


// navbar style
#navbar {
    background-color: rgba( 29, 15, 3, 0.9) !important;
    position: fixed;
    width: 100%;
    z-index: 999;
    .navbar {
        .container {
            .navbar-toggler {
                border: none;
                padding: 2px;
                .line {
                    height: 2px;
                    width: 22px;
                    margin: 6px;
                    background: #fff;
                }
            }
            span {
                color: var(--colorSecondary);
            }
            .navbar-brand {
                font-size: 1.5rem;
                font-weight: 700;
                color: #fff;
            }
            .collapse {
                ul {
                    .dropdown {
                        button {
                            color: #fff;
                        }
                        ul {
                            background-color: #1d0f03;
                            border: none;
                            li {
                                color: #fff;
                                a {
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                    li {
                        margin-left: 15px;
                        a {
                            color: #fff;
                            transition: ease .3s;
                        }
                        a:hover {
                            color: var(--colorSecondary);
                            transform: scale(1.1);
                        }
                        .active {
                            color: var(--colorSecondary);
                            transform: scale(1.1);
                        }
                        .active-dropdown {
                            color: var(--colorSecondary);
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 640px) {
        .navbar {
            .container {
                .collapse {
                    ul {
                        .dropdown {
                            ul {
                                background-color: transparent;
                                li {
                                    a {
                                        background-color: transparent;
                                    }
                                }
                            }
                        }
                        li {
                            .nav-link:hover {
                                transform: translateX(8px);
                            }
                            .active {
                                color: var(--colorSecondary);
                                transform: translateX(8px);
                            }
                        }
                    }
                }
            }
        }
    }
}

// carousel style
#hero {
    height: 100vh;
    background-image: url(../img/slider/1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    .hero {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: rgba( 29, 15, 3, 0.7);
        .judul {
            color: #fff;
            h5 {
                font-size: 16px;
                letter-spacing: 5px;
            }
            h1 {
                font-size: 120px;
                font-weight: 700;
            }
            p {
                font-size: 16px;
                width: 340px;
                margin: 0 auto;
            }
        }
    }
    @media screen and (max-width: 640px) {
        .hero {
            .judul {
                h5 {
                    font-size: 14px;
                }
                h1 {
                    font-size: 80px;
                }
                p {
                    font-size: 14px;
                    width: 200px;
                }
                .button {
                    // background-color: red;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .btn {
                        width: max-content;
                        margin-bottom: 10px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

#mengapa-kami {
    background-color: var(--bgColor);
    padding: 50px 0;
    .mengapa-kami {
        h1 {
            font-size: 30px;
            margin-bottom: 100px;
        }
        .row {
            .col {
                .card {
                    background-color: var(--bgColor);
                    border: none;
                    padding: 0 20px;
                    .card-body {
                        h5 {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 640px) {
        .mengapa-kami {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                font-size: 24px;
                width: 200px;
                // background-color: #1d0f03;
            }
        }
    }
}

footer {
    background-color: var(--colorPrimary);
    .footer {
        padding: 50px 0;
        // background-color: #fff;
        .row {
            div {
                color: #fff;
                // background-color: #000;
                padding: 0 20px 0 100px;
                h5 {
                    margin-bottom: 20px;
                }
                ul {
                    li {
                        margin-left: -40px;
                        margin-bottom: 15px;
                        a {
                            margin-left: 20px;
                            color: #fff;
                            // margin-bottom: 100px;
                        }
                        a:hover {
                            color: grey;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 640px) {
        .footer {
            .row {
                div {
                    padding: 0 40px;
                    margin-top: 50px;
                }
            }
        }
    }
}

// page about us
#about-us {
    height: 100vh;
    background-color: var(--colorSecondary);
    .about-us {
        .row {
            .kiri {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .5s ease-in;
                .about-desc {
                    h3 {
                        font-size: 60px;
                        font-family: 'Fredoka', sans-serif;
                        margin-bottom: 20px;
                    }
                    p {
                        line-height: 28px;
                        width: 450px;
                        margin-bottom: 40px;
                    }
                }
            }
            .kanan {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                // background-color: #000;
            }
        }
    }
    @media screen and (max-width:640px) {
        height: max-content;
        .about-us {
            .row {
                .kiri {
                    margin-top: 100px;
                    height: max-content;
                    .about-desc {
                        h3 {
                            font-size: 40px;
                        }
                        p {
                            width: 300px;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width:400px) {
        .about-us {
            .row {
                .kiri {
                    padding: 0 50px;
                    .about-desc {
                        a {
                            margin-bottom: 10px;
                        }
                    }
                }
                .kanan {
                    margin-top: -100px;
                    overflow-x: hidden;
                    img {
                        width: 400px;
                    }
                }
            }
        }
    }
}

// page services
#service {
    height: max-content;
    background-color: var(--colorSecondary);
    .service {
        .container {
            padding: 100px 0;
            .kambing {
                margin-bottom: 100px;
            }
            .row {
                .kiri {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .about-desc {
                        h3 {
                            font-size: 60px;
                            font-family: 'Fredoka', sans-serif;
                            margin-bottom: 20px;
                        }
                        p {
                            line-height: 28px;
                            width: 450px;
                            margin-bottom: 40px;
                        }
                    }
                }
            }    
        }    
    }
    @media screen and (max-width:640px) {
        height: max-content;
        .service {
            .container {
                .kambing {
                    .kiri {
                        // margin-top: 100px;
                        height: max-content;
                        .about-desc {
                            h3 {
                                font-size: 40px;
                            }
                        }
                    }
                }
                .domba {
                    margin-top: 100px;
                    .kiri {
                        order: 2;
                        // margin-top: 100px;
                        height: max-content;
                        .about-desc {
                            h3 {
                                font-size: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width:400px) {
        .service {
            .container {
                overflow-x: hidden;
                .kambing {
                    padding: 100px 0 5px;
                    .kiri {
                        // background-color: #000;
                        .about-desc {
                            width: 300px;
                            p {
                                width: 300px;
                            }
                            .btn {
                                margin-bottom: 10px;
                            }
                        }
                    }
                    .kanan {
                        margin-top: -100px;
                        overflow-x: hidden;
                        img {
                            width: 350px;
                        }
                    }
                }
                .domba {
                    padding: 100px 0;
                    .kiri {
                        padding: 0;
                        .about-desc {
                            width: 300px;
                            p {
                                width: 300px;
                            }
                            .btn {
                                margin-bottom: 10px;
                            }
                        }
                    }
                    .kanan {
                        margin-top: -100px;
                        overflow-x: hidden;
                        img {
                            width: 350px;
                        }
                    }
                }
            }
        }
    }
}

// page price 
#price {
    height: max-content;
    background-color: var(--colorSecondary);  
    overflow-x: hidden;      
    .price {
        padding: 80px 0;
        .kambing-guling {
            h4 {
                font-family: 'Fredoka', sans-serif;
                // background-color: black;
                font-size: 40px;
            }
            .judul {
                font-size: 25px;
                // width: 80%;
                margin: 10px auto 5px; 
            }
            .row {
                .col-sm-3 {
                    .card {
                        .card-body {
                            p {
                                margin-bottom: -5px;
                            }
                        }
                    }
                }
                .col-sm-4, .col-sm-3 {
                    .card {
                        margin: 15px 0;
                        .card-body {
                            h5 {
                                font-weight: 700;
                                color: var(--colorSecondary);
                            }
                            h6 {
                                font-size: 20px;
                                font-weight: 700;
                            }
                            p {
                                font-weight: 500;
                                color: grey;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width:640px) {
        .price {
            .kambing-guling {
                .row {
                    .col-sm-3 {
                        .card {
                            .card-body {
                                h6 {
                                    font-size: 15px;
                                }
                                p {
                                    margin-bottom: -5px;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width:400px) {
        .price {
            .kambing-guling {
                h4 {
                    font-size: 30px;
                    width: 80%;
                    margin: 0 auto 5px; 
                }
                .judul {
                    font-size: 20px;
                    width: 80%;
                    margin: 10px auto 5px; 
                }
                .row {
                    .col-sm-4, .col-sm-3 {
                        .card {
                            margin: 10px 15px;
                        }
                    }
                    .col-sm-3 {
                        .card {
                            .card-body {
                                h6 {
                                    font-size: 15px;
                                }
                                p {
                                    margin-bottom: -5px;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// page galery 
#galery {
    padding: 70px 20px;
    background-color: var(--colorSecondary);
    .galery {
        h6 {
            font-family: 'Fredoka', sans-serif;
            font-size: 7vmin;
            font-weight: 700;
        }
        .row {
            margin: 0 auto;
            .bungkus-foto {
                width: 25vmin;
                height: 25vmin;
                background-size: cover;
                background-repeat: repeat;
                margin: 5px;
                transition: all .3s ease-in-out;
            }
            .bungkus-foto:hover {
                transform: scale(1.05);
            }
            .img-1 {
                background-image: url(../img/galery/1.jpeg);
                
                
            }
            .img-2 {
                background-image: url(../img/galery/2.jpeg);
            }
            .img-3 {
                background-image: url(../img/galery/3.jpeg);
            }
            .img-4 {
                background-image: url(../img/galery/4.jpeg);
            }
            .img-5 {
                background-image: url(../img/galery/5.jpeg);
            }
            .img-6 {
                background-image: url(../img/galery/6.jpeg);
            }
            .img-7 {
                background-image: url(../img/galery/7.jpeg);
            }
            .img-8 {
                background-image: url(../img/galery/8.jpeg);
            }
            .img-9 {
                background-image: url(../img/galery/9.jpeg);
            }
            .img-10 {
                background-image: url(../img/galery/10.jpeg);
            }
            .img-11 {
                background-image: url(../img/galery/11.jpeg);
            }
            .img-12 {
                background-image: url(../img/galery/12.jpeg);
            }
            .img-13 {
                background-image: url(../img/galery/13.jpeg);
            }
            .img-14 {
                background-image: url(../img/galery/14.jpeg);
            }
            .img-15 {
                background-image: url(../img/galery/15.jpeg);
            }
            .img-16 {
                background-image: url(../img/galery/16.jpeg);
            }
            .img-17 {
                background-image: url(../img/galery/17.jpeg);
            }
            .img-18 {
                background-image: url(../img/galery/18.jpeg);
            }
            .img-19 {
                background-image: url(../img/galery/19.jpeg);
            }
        }

    }
    @media screen and (max-width: 400px) {
        .galery {
            .row {
                .bungkus-foto {
                    width: 35vmin;
                    height: 35vmin;
                }
            }
        }            
    }
}

// page kontak 
#kontak {
    overflow-x: hidden;
    height: max-content;
    background-color: var(--colorSecondary);
    .kontak {
        padding: 100px 0;
        .row {
            .kiri {
                padding: 30px 50px;
                h6 {
                    font-size: 5vmin;
                    font-family: 'Fredoka', sans-serif;
                    margin-bottom: 20px;
                }
                .kontak-list {
                    .items {
                        align-items: center;
                        i {
                            margin-right: 20px;
                            font-size: 30px;
                        }                        
                        p {
                            width: 300px;
                        }
                    }   
                }
                .maps {
                    width: 350px;
                    height: 200px;
                    background-image: url(../img/maps.jpeg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    .img-maps {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        background-color: rgba( 29, 15, 3, 0.5);
                        height: 100%;
                        transition: .5s ease-in-out;
                        h6 {
                            transition: .5s ease-in-out;
                        }
                    }
                    .img-maps:hover {
                        background: none;
                        h6 {
                            display: none;
                            transition: .5s ease-in-out;
                        }
                    }
                }
            }
            .kanan {
                form {
                    border-radius: 15px;
                    // background-color: #fff;
                    padding: 30px 50px;
                    h6 {
                        font-size: 5vmin;
                        font-family: 'Fredoka', sans-serif;
                        margin-bottom: 20px;
                    }
                    .mb-3 {
                        input {
                            border-radius: 15px;
                            border: none;
                            background-color: #fff;
                            height: 50px;
                        }
                        textarea {
                            border-top-right-radius: 30px;
                            border-bottom-left-radius: 30px;
                            border: none;
                            resize: none;
                            background-color: #fff;
                            width: 100%;
                            height: 200px;
                            padding: 12px;
                        }
                    }
                    .btn {
                        border-radius: 30px;
                        width: 200px;
                        height: 50px;
                    }

                }
            }
        }
    }
    @media screen and (max-width: 758px) {
        .kontak {
            .row {
                .kiri {
                    order: 2;
                }
            }
        }
    }
    @media screen and (max-width:400px) {
        .kontak {
            padding: 100px 0px;
            .row {
                .kiri {
                    padding-left: 70px;
                    order: 2;
                    margin-top: 20px;
                    .kontak-list {
                        .items {
                            p {
                                width: 250px;
                            }
                        }
                    }
                    .maps {
                        width: 250px;
                    }
                }
                .kanan {
                    form {
                        .mb-3 {
                            input {
                                border-radius: 15px;
                                border: none;
                                background-color: #fff;
                                height: 50px;
                            }
                            textarea {
                                border-top-right-radius: 30px;
                                border-bottom-left-radius: 30px;
                                border: none;
                                resize: none;
                                background-color: #fff;
                                width: 100%;
                                height: 200px;
                                padding: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

