@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@200;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Hind+Madurai:wght@300;400;500;600;700&display=swap");
:root {
  --colorPrimary: #1d0f03;
  --colorSecondary: #FFBB0E;
  --navbarColor: rgba( 29, 15, 3, 0.5);
  --bgColor: rgb(214, 211, 207);
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  background-color: var(--bgColor);
}

.btn {
  margin: 0 5px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#navbar {
  background-color: rgba(29, 15, 3, 0.9) !important;
  position: fixed;
  width: 100%;
  z-index: 999;
}
#navbar .navbar .container .navbar-toggler {
  border: none;
  padding: 2px;
}
#navbar .navbar .container .navbar-toggler .line {
  height: 2px;
  width: 22px;
  margin: 6px;
  background: #fff;
}
#navbar .navbar .container span {
  color: var(--colorSecondary);
}
#navbar .navbar .container .navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}
#navbar .navbar .container .collapse ul .dropdown button {
  color: #fff;
}
#navbar .navbar .container .collapse ul .dropdown ul {
  background-color: #1d0f03;
  border: none;
}
#navbar .navbar .container .collapse ul .dropdown ul li {
  color: #fff;
}
#navbar .navbar .container .collapse ul .dropdown ul li a {
  background-color: transparent;
}
#navbar .navbar .container .collapse ul li {
  margin-left: 15px;
}
#navbar .navbar .container .collapse ul li a {
  color: #fff;
  transition: ease 0.3s;
}
#navbar .navbar .container .collapse ul li a:hover {
  color: var(--colorSecondary);
  transform: scale(1.1);
}
#navbar .navbar .container .collapse ul li .active {
  color: var(--colorSecondary);
  transform: scale(1.1);
}
#navbar .navbar .container .collapse ul li .active-dropdown {
  color: var(--colorSecondary);
}
@media screen and (max-width: 640px) {
  #navbar .navbar .container .collapse ul .dropdown ul {
    background-color: transparent;
  }
  #navbar .navbar .container .collapse ul .dropdown ul li a {
    background-color: transparent;
  }
  #navbar .navbar .container .collapse ul li .nav-link:hover {
    transform: translateX(8px);
  }
  #navbar .navbar .container .collapse ul li .active {
    color: var(--colorSecondary);
    transform: translateX(8px);
  }
}

#hero {
  height: 100vh;
  background-image: url(../img/slider/1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#hero .hero {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(29, 15, 3, 0.7);
}
#hero .hero .judul {
  color: #fff;
}
#hero .hero .judul h5 {
  font-size: 16px;
  letter-spacing: 5px;
}
#hero .hero .judul h1 {
  font-size: 120px;
  font-weight: 700;
}
#hero .hero .judul p {
  font-size: 16px;
  width: 340px;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  #hero .hero .judul h5 {
    font-size: 14px;
  }
  #hero .hero .judul h1 {
    font-size: 80px;
  }
  #hero .hero .judul p {
    font-size: 14px;
    width: 200px;
  }
  #hero .hero .judul .button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #hero .hero .judul .button .btn {
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 10px;
    font-size: 14px;
  }
}

#mengapa-kami {
  background-color: var(--bgColor);
  padding: 50px 0;
}
#mengapa-kami .mengapa-kami h1 {
  font-size: 30px;
  margin-bottom: 100px;
}
#mengapa-kami .mengapa-kami .row .col .card {
  background-color: var(--bgColor);
  border: none;
  padding: 0 20px;
}
#mengapa-kami .mengapa-kami .row .col .card .card-body h5 {
  font-size: 20px;
}
@media screen and (max-width: 640px) {
  #mengapa-kami .mengapa-kami {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #mengapa-kami .mengapa-kami h1 {
    font-size: 24px;
    width: 200px;
  }
}

footer {
  background-color: var(--colorPrimary);
}
footer .footer {
  padding: 50px 0;
}
footer .footer .row div {
  color: #fff;
  padding: 0 20px 0 100px;
}
footer .footer .row div h5 {
  margin-bottom: 20px;
}
footer .footer .row div ul li {
  margin-left: -40px;
  margin-bottom: 15px;
}
footer .footer .row div ul li a {
  margin-left: 20px;
  color: #fff;
}
footer .footer .row div ul li a:hover {
  color: grey;
}
@media screen and (max-width: 640px) {
  footer .footer .row div {
    padding: 0 40px;
    margin-top: 50px;
  }
}

#about-us {
  height: 100vh;
  background-color: var(--colorSecondary);
}
#about-us .about-us .row .kiri {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in;
}
#about-us .about-us .row .kiri .about-desc h3 {
  font-size: 60px;
  font-family: "Fredoka", sans-serif;
  margin-bottom: 20px;
}
#about-us .about-us .row .kiri .about-desc p {
  line-height: 28px;
  width: 450px;
  margin-bottom: 40px;
}
#about-us .about-us .row .kanan {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media screen and (max-width: 640px) {
  #about-us {
    height: -moz-max-content;
    height: max-content;
  }
  #about-us .about-us .row .kiri {
    margin-top: 100px;
    height: -moz-max-content;
    height: max-content;
  }
  #about-us .about-us .row .kiri .about-desc h3 {
    font-size: 40px;
  }
  #about-us .about-us .row .kiri .about-desc p {
    width: 300px;
  }
}
@media screen and (max-width: 400px) {
  #about-us .about-us .row .kiri {
    padding: 0 50px;
  }
  #about-us .about-us .row .kiri .about-desc a {
    margin-bottom: 10px;
  }
  #about-us .about-us .row .kanan {
    margin-top: -100px;
    overflow-x: hidden;
  }
  #about-us .about-us .row .kanan img {
    width: 400px;
  }
}

#service {
  height: -moz-max-content;
  height: max-content;
  background-color: var(--colorSecondary);
}
#service .service .container {
  padding: 100px 0;
}
#service .service .container .kambing {
  margin-bottom: 100px;
}
#service .service .container .row .kiri {
  display: flex;
  justify-content: center;
  align-items: center;
}
#service .service .container .row .kiri .about-desc h3 {
  font-size: 60px;
  font-family: "Fredoka", sans-serif;
  margin-bottom: 20px;
}
#service .service .container .row .kiri .about-desc p {
  line-height: 28px;
  width: 450px;
  margin-bottom: 40px;
}
@media screen and (max-width: 640px) {
  #service {
    height: -moz-max-content;
    height: max-content;
  }
  #service .service .container .kambing .kiri {
    height: -moz-max-content;
    height: max-content;
  }
  #service .service .container .kambing .kiri .about-desc h3 {
    font-size: 40px;
  }
  #service .service .container .domba {
    margin-top: 100px;
  }
  #service .service .container .domba .kiri {
    order: 2;
    height: -moz-max-content;
    height: max-content;
  }
  #service .service .container .domba .kiri .about-desc h3 {
    font-size: 40px;
  }
}
@media screen and (max-width: 400px) {
  #service .service .container {
    overflow-x: hidden;
  }
  #service .service .container .kambing {
    padding: 100px 0 5px;
  }
  #service .service .container .kambing .kiri .about-desc {
    width: 300px;
  }
  #service .service .container .kambing .kiri .about-desc p {
    width: 300px;
  }
  #service .service .container .kambing .kiri .about-desc .btn {
    margin-bottom: 10px;
  }
  #service .service .container .kambing .kanan {
    margin-top: -100px;
    overflow-x: hidden;
  }
  #service .service .container .kambing .kanan img {
    width: 350px;
  }
  #service .service .container .domba {
    padding: 100px 0;
  }
  #service .service .container .domba .kiri {
    padding: 0;
  }
  #service .service .container .domba .kiri .about-desc {
    width: 300px;
  }
  #service .service .container .domba .kiri .about-desc p {
    width: 300px;
  }
  #service .service .container .domba .kiri .about-desc .btn {
    margin-bottom: 10px;
  }
  #service .service .container .domba .kanan {
    margin-top: -100px;
    overflow-x: hidden;
  }
  #service .service .container .domba .kanan img {
    width: 350px;
  }
}

#price {
  height: -moz-max-content;
  height: max-content;
  background-color: var(--colorSecondary);
  overflow-x: hidden;
}
#price .price {
  padding: 80px 0;
}
#price .price .kambing-guling h4 {
  font-family: "Fredoka", sans-serif;
  font-size: 40px;
}
#price .price .kambing-guling .judul {
  font-size: 25px;
  margin: 10px auto 5px;
}
#price .price .kambing-guling .row .col-sm-3 .card .card-body p {
  margin-bottom: -5px;
}
#price .price .kambing-guling .row .col-sm-4 .card, #price .price .kambing-guling .row .col-sm-3 .card {
  margin: 15px 0;
}
#price .price .kambing-guling .row .col-sm-4 .card .card-body h5, #price .price .kambing-guling .row .col-sm-3 .card .card-body h5 {
  font-weight: 700;
  color: var(--colorSecondary);
}
#price .price .kambing-guling .row .col-sm-4 .card .card-body h6, #price .price .kambing-guling .row .col-sm-3 .card .card-body h6 {
  font-size: 20px;
  font-weight: 700;
}
#price .price .kambing-guling .row .col-sm-4 .card .card-body p, #price .price .kambing-guling .row .col-sm-3 .card .card-body p {
  font-weight: 500;
  color: grey;
  font-size: 20px;
}
@media screen and (max-width: 640px) {
  #price .price .kambing-guling .row .col-sm-3 .card .card-body h6 {
    font-size: 15px;
  }
  #price .price .kambing-guling .row .col-sm-3 .card .card-body p {
    margin-bottom: -5px;
    font-size: 15px;
  }
}
@media screen and (max-width: 400px) {
  #price .price .kambing-guling h4 {
    font-size: 30px;
    width: 80%;
    margin: 0 auto 5px;
  }
  #price .price .kambing-guling .judul {
    font-size: 20px;
    width: 80%;
    margin: 10px auto 5px;
  }
  #price .price .kambing-guling .row .col-sm-4 .card, #price .price .kambing-guling .row .col-sm-3 .card {
    margin: 10px 15px;
  }
  #price .price .kambing-guling .row .col-sm-3 .card .card-body h6 {
    font-size: 15px;
  }
  #price .price .kambing-guling .row .col-sm-3 .card .card-body p {
    margin-bottom: -5px;
    font-size: 20px;
  }
}

#galery {
  padding: 70px 20px;
  background-color: var(--colorSecondary);
}
#galery .galery h6 {
  font-family: "Fredoka", sans-serif;
  font-size: 7vmin;
  font-weight: 700;
}
#galery .galery .row {
  margin: 0 auto;
}
#galery .galery .row .bungkus-foto {
  width: 25vmin;
  height: 25vmin;
  background-size: cover;
  background-repeat: repeat;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}
#galery .galery .row .bungkus-foto:hover {
  transform: scale(1.05);
}
#galery .galery .row .img-1 {
  background-image: url(../img/galery/1.jpeg);
}
#galery .galery .row .img-2 {
  background-image: url(../img/galery/2.jpeg);
}
#galery .galery .row .img-3 {
  background-image: url(../img/galery/3.jpeg);
}
#galery .galery .row .img-4 {
  background-image: url(../img/galery/4.jpeg);
}
#galery .galery .row .img-5 {
  background-image: url(../img/galery/5.jpeg);
}
#galery .galery .row .img-6 {
  background-image: url(../img/galery/6.jpeg);
}
#galery .galery .row .img-7 {
  background-image: url(../img/galery/7.jpeg);
}
#galery .galery .row .img-8 {
  background-image: url(../img/galery/8.jpeg);
}
#galery .galery .row .img-9 {
  background-image: url(../img/galery/9.jpeg);
}
#galery .galery .row .img-10 {
  background-image: url(../img/galery/10.jpeg);
}
#galery .galery .row .img-11 {
  background-image: url(../img/galery/11.jpeg);
}
#galery .galery .row .img-12 {
  background-image: url(../img/galery/12.jpeg);
}
#galery .galery .row .img-13 {
  background-image: url(../img/galery/13.jpeg);
}
#galery .galery .row .img-14 {
  background-image: url(../img/galery/14.jpeg);
}
#galery .galery .row .img-15 {
  background-image: url(../img/galery/15.jpeg);
}
#galery .galery .row .img-16 {
  background-image: url(../img/galery/16.jpeg);
}
#galery .galery .row .img-17 {
  background-image: url(../img/galery/17.jpeg);
}
#galery .galery .row .img-18 {
  background-image: url(../img/galery/18.jpeg);
}
#galery .galery .row .img-19 {
  background-image: url(../img/galery/19.jpeg);
}
@media screen and (max-width: 400px) {
  #galery .galery .row .bungkus-foto {
    width: 35vmin;
    height: 35vmin;
  }
}

#kontak {
  overflow-x: hidden;
  height: -moz-max-content;
  height: max-content;
  background-color: var(--colorSecondary);
}
#kontak .kontak {
  padding: 100px 0;
}
#kontak .kontak .row .kiri {
  padding: 30px 50px;
}
#kontak .kontak .row .kiri h6 {
  font-size: 5vmin;
  font-family: "Fredoka", sans-serif;
  margin-bottom: 20px;
}
#kontak .kontak .row .kiri .kontak-list .items {
  align-items: center;
}
#kontak .kontak .row .kiri .kontak-list .items i {
  margin-right: 20px;
  font-size: 30px;
}
#kontak .kontak .row .kiri .kontak-list .items p {
  width: 300px;
}
#kontak .kontak .row .kiri .maps {
  width: 350px;
  height: 200px;
  background-image: url(../img/maps.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
#kontak .kontak .row .kiri .maps .img-maps {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(29, 15, 3, 0.5);
  height: 100%;
  transition: 0.5s ease-in-out;
}
#kontak .kontak .row .kiri .maps .img-maps h6 {
  transition: 0.5s ease-in-out;
}
#kontak .kontak .row .kiri .maps .img-maps:hover {
  background: none;
}
#kontak .kontak .row .kiri .maps .img-maps:hover h6 {
  display: none;
  transition: 0.5s ease-in-out;
}
#kontak .kontak .row .kanan form {
  border-radius: 15px;
  padding: 30px 50px;
}
#kontak .kontak .row .kanan form h6 {
  font-size: 5vmin;
  font-family: "Fredoka", sans-serif;
  margin-bottom: 20px;
}
#kontak .kontak .row .kanan form .mb-3 input {
  border-radius: 15px;
  border: none;
  background-color: #fff;
  height: 50px;
}
#kontak .kontak .row .kanan form .mb-3 textarea {
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border: none;
  resize: none;
  background-color: #fff;
  width: 100%;
  height: 200px;
  padding: 12px;
}
#kontak .kontak .row .kanan form .btn {
  border-radius: 30px;
  width: 200px;
  height: 50px;
}
@media screen and (max-width: 758px) {
  #kontak .kontak .row .kiri {
    order: 2;
  }
}
@media screen and (max-width: 400px) {
  #kontak .kontak {
    padding: 100px 0px;
  }
  #kontak .kontak .row .kiri {
    padding-left: 70px;
    order: 2;
    margin-top: 20px;
  }
  #kontak .kontak .row .kiri .kontak-list .items p {
    width: 250px;
  }
  #kontak .kontak .row .kiri .maps {
    width: 250px;
  }
  #kontak .kontak .row .kanan form .mb-3 input {
    border-radius: 15px;
    border: none;
    background-color: #fff;
    height: 50px;
  }
  #kontak .kontak .row .kanan form .mb-3 textarea {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    resize: none;
    background-color: #fff;
    width: 100%;
    height: 200px;
    padding: 12px;
  }
}/*# sourceMappingURL=style.css.map */