@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@200;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

:root {
    --colorPrimary: #1d0f03;
    --colorSecondary: #FFBB0E;

    --navbarColor: rgba( 29, 15, 3, 0.5); 

    --bgColor: rgb(214, 211, 207);
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    // height: 5000px;
    scroll-behavior: smooth;
}

html {
    background-color: var(--bgColor);
}

// all in one
.btn {
    margin: 0 5px;
    font-weight: 600;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}


// navbar style
#navbar {
    background-color: rgba( 29, 15, 3, 0.9) !important;
    position: fixed;
    width: 100%;
    z-index: 999;
    .navbar {
        .container {
            .navbar-toggler {
                border: none;
                padding: 2px;
                .line {
                    height: 2px;
                    width: 22px;
                    margin: 6px;
                    background: #fff;
                }
            }
            span {
                color: var(--colorSecondary);
            }
            .navbar-brand {
                font-size: 1.5rem;
                font-weight: 700;
                color: #fff;
            }
            .collapse {
                ul {
                    .dropdown {
                        button {
                            color: #fff;
                        }
                        ul {
                            background-color: #1d0f03;
                            border: none;
                            li {
                                color: #fff;
                                a {
                                    background-color: transparent;
                                }
                            }
                        }
                    }
                    li {
                        margin-left: 15px;
                        a {
                            color: #fff;
                            transition: ease .3s;
                        }
                        a:hover {
                            color: var(--colorSecondary);
                            transform: scale(1.1);
                        }
                        .active {
                            color: var(--colorSecondary);
                            transform: scale(1.1);
                        }
                        .active-dropdown {
                            color: var(--colorSecondary);
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 640px) {
        .navbar {
            .container {
                .collapse {
                    ul {
                        .dropdown {
                            ul {
                                background-color: transparent;
                                li {
                                    a {
                                        background-color: transparent;
                                    }
                                }
                            }
                        }
                        li {
                            .nav-link:hover {
                                transform: translateX(8px);
                            }
                            .active {
                                color: var(--colorSecondary);
                                transform: translateX(8px);
                            }
                        }
                    }
                }
            }
        }
    }
}

// carousel style
#hero {
    height: 100vh;
    background-image: url(../img/slider/1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    .hero {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: rgba( 29, 15, 3, 0.7);
        .judul {
            color: #fff;
            h5 {
                font-size: 16px;
                letter-spacing: 5px;
            }
            h1 {
                font-size: 120px;
                font-weight: 700;
            }
            p {
                font-size: 16px;
                width: 340px;
                margin: 0 auto;
            }
        }
    }
    @media screen and (max-width: 640px) {
        .hero {
            .judul {
                h5 {
                    font-size: 14px;
                }
                h1 {
                    font-size: 80px;
                }
                p {
                    font-size: 14px;
                    width: 200px;
                }
                .button {
                    // background-color: red;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .btn {
                        width: max-content;
                        margin-bottom: 10px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

#mengapa-kami {
    background-color: var(--bgColor);
    padding: 50px 0;
    .mengapa-kami {
        h1 {
            font-size: 30px;
            margin-bottom: 100px;
        }
        .row {
            .col {
                .card {
                    background-color: var(--bgColor);
                    border: none;
                    padding: 0 20px;
                    .card-body {
                        h5 {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 640px) {
        .mengapa-kami {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1 {
                font-size: 24px;
                width: 200px;
                // background-color: #1d0f03;
            }
        }
    }
}

footer {
    background-color: var(--colorPrimary);
    .footer {
        padding: 50px 0;
        // background-color: #fff;
        .row {
            div {
                color: #fff;
                // background-color: #000;
                padding: 0 20px 0 100px;
                h5 {
                    margin-bottom: 20px;
                }
                ul {
                    li {
                        margin-left: -40px;
                        margin-bottom: 15px;
                        a {
                            margin-left: 20px;
                            color: #fff;
                            // margin-bottom: 100px;
                        }
                        a:hover {
                            color: grey;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 640px) {
        .footer {
            .row {
                div {
                    padding: 0 40px;
                    margin-top: 50px;
                }
            }
        }
    }
}

// page about us
#about-us {
    height: 100vh;
    background-color: var(--colorSecondary);
    .about-us {
        .row {
            .kiri {
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .5s ease-in;
                .about-desc {
                    h3 {
                        font-size: 60px;
                        font-family: 'Fredoka', sans-serif;
                        margin-bottom: 20px;
                    }
                    p {
                        line-height: 28px;
                        width: 450px;
                        margin-bottom: 40px;
                    }
                }
            }
            .kanan {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                // background-color: #000;
            }
        }
    }
    @media screen and (max-width:640px) {
        height: max-content;
        .about-us {
            .row {
                .kiri {
                    margin-top: 100px;
                    height: max-content;
                    .about-desc {
                        h3 {
                            font-size: 40px;
                        }
                        p {
                            width: 300px;
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width:400px) {
        .about-us {
            .row {
                .kiri {
                    padding: 0 50px;
                    .about-desc {
                        .btn {
                            margin-bottom: 10px;
                        }
                    }
                }
                .kanan {
                    margin-top: -100px;
                    overflow-x: hidden;
                    img {
                        width: 400px;
                    }
                }
            }
        }
    }
}

// page services
#service {
    height: max-content;
    background-color: var(--colorSecondary);
    .service {
        .container {
            padding: 100px 0;
            .row {
                .kiri {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .about-desc {
                        h3 {
                            font-size: 60px;
                            font-family: 'Fredoka', sans-serif;
                            margin-bottom: 20px;
                        }
                        p {
                            line-height: 28px;
                            width: 450px;
                            margin-bottom: 40px;
                        }
                    }
                }
            }    
        }    
    }
    @media screen and (max-width:640px) {
        height: max-content;
        .service {
            .container {
                .kambing {
                    .kiri {
                        // margin-top: 100px;
                        height: max-content;
                        .about-desc {
                            h3 {
                                font-size: 40px;
                            }
                        }
                    }
                }
                .domba {
                    margin-top: 100px;
                    .kiri {
                        order: 2;
                        // margin-top: 100px;
                        height: max-content;
                        .about-desc {
                            h3 {
                                font-size: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width:400px) {
        .service {
            .container {
                .kambing {
                    padding: 100px 0 5px;
                    .kiri {
                        // background-color: #000;
                        .about-desc {
                            width: 300px;
                            p {
                                width: 300px;
                            }
                            .btn {
                                margin-bottom: 10px;
                            }
                        }
                    }
                    .kanan {
                        margin-top: -100px;
                        overflow-x: hidden;
                        img {
                            width: 350px;
                        }
                    }
                }
                .domba {
                    padding: 100px 0;
                    .kiri {
                        padding: 0;
                        .about-desc {
                            width: 300px;
                            p {
                                width: 300px;
                            }
                            .btn {
                                margin-bottom: 10px;
                            }
                        }
                    }
                    .kanan {
                        margin-top: -100px;
                        overflow-x: hidden;
                        img {
                            width: 350px;
                        }
                    }
                }
            }
        }
    }
}




