@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@200;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Hind+Madurai:wght@300;400;500;600;700&display=swap");
:root {
  --colorPrimary: #1d0f03;
  --colorSecondary: #FFBB0E;
  --navbarColor: rgba( 29, 15, 3, 0.5);
  --bgColor: rgb(214, 211, 207);
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  scroll-behavior: smooth;
}

html {
  background-color: var(--bgColor);
}

.btn {
  margin: 0 5px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

#navbar {
  background-color: rgba(29, 15, 3, 0.9) !important;
  position: fixed;
  width: 100%;
  z-index: 999;
}
#navbar .navbar .container .navbar-toggler {
  border: none;
  padding: 2px;
}
#navbar .navbar .container .navbar-toggler .line {
  height: 2px;
  width: 22px;
  margin: 6px;
  background: #fff;
}
#navbar .navbar .container span {
  color: var(--colorSecondary);
}
#navbar .navbar .container .navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}
#navbar .navbar .container .collapse ul .dropdown button {
  color: #fff;
}
#navbar .navbar .container .collapse ul .dropdown ul {
  background-color: #1d0f03;
  border: none;
}
#navbar .navbar .container .collapse ul .dropdown ul li {
  color: #fff;
}
#navbar .navbar .container .collapse ul .dropdown ul li a {
  background-color: transparent;
}
#navbar .navbar .container .collapse ul li {
  margin-left: 15px;
}
#navbar .navbar .container .collapse ul li a {
  color: #fff;
  transition: ease 0.3s;
}
#navbar .navbar .container .collapse ul li a:hover {
  color: var(--colorSecondary);
  transform: scale(1.1);
}
#navbar .navbar .container .collapse ul li .active {
  color: var(--colorSecondary);
  transform: scale(1.1);
}
#navbar .navbar .container .collapse ul li .active-dropdown {
  color: var(--colorSecondary);
}
@media screen and (max-width: 640px) {
  #navbar .navbar .container .collapse ul .dropdown ul {
    background-color: transparent;
  }
  #navbar .navbar .container .collapse ul .dropdown ul li a {
    background-color: transparent;
  }
  #navbar .navbar .container .collapse ul li .nav-link:hover {
    transform: translateX(8px);
  }
  #navbar .navbar .container .collapse ul li .active {
    color: var(--colorSecondary);
    transform: translateX(8px);
  }
}

#hero {
  height: 100vh;
  background-image: url(../img/slider/1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
#hero .hero {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(29, 15, 3, 0.7);
}
#hero .hero .judul {
  color: #fff;
}
#hero .hero .judul h5 {
  font-size: 16px;
  letter-spacing: 5px;
}
#hero .hero .judul h1 {
  font-size: 120px;
  font-weight: 700;
}
#hero .hero .judul p {
  font-size: 16px;
  width: 340px;
  margin: 0 auto;
}
@media screen and (max-width: 640px) {
  #hero .hero .judul h5 {
    font-size: 14px;
  }
  #hero .hero .judul h1 {
    font-size: 80px;
  }
  #hero .hero .judul p {
    font-size: 14px;
    width: 200px;
  }
  #hero .hero .judul .button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #hero .hero .judul .button .btn {
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 10px;
    font-size: 14px;
  }
}

#mengapa-kami {
  background-color: var(--bgColor);
  padding: 50px 0;
}
#mengapa-kami .mengapa-kami h1 {
  font-size: 30px;
  margin-bottom: 100px;
}
#mengapa-kami .mengapa-kami .row .col .card {
  background-color: var(--bgColor);
  border: none;
  padding: 0 20px;
}
#mengapa-kami .mengapa-kami .row .col .card .card-body h5 {
  font-size: 20px;
}
@media screen and (max-width: 640px) {
  #mengapa-kami .mengapa-kami {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #mengapa-kami .mengapa-kami h1 {
    font-size: 24px;
    width: 200px;
  }
}

footer {
  background-color: var(--colorPrimary);
}
footer .footer {
  padding: 50px 0;
}
footer .footer .row div {
  color: #fff;
  padding: 0 20px 0 100px;
}
footer .footer .row div h5 {
  margin-bottom: 20px;
}
footer .footer .row div ul li {
  margin-left: -40px;
  margin-bottom: 15px;
}
footer .footer .row div ul li a {
  margin-left: 20px;
  color: #fff;
}
footer .footer .row div ul li a:hover {
  color: grey;
}
@media screen and (max-width: 640px) {
  footer .footer .row div {
    padding: 0 40px;
    margin-top: 50px;
  }
}

#about-us {
  height: 100vh;
  background-color: var(--colorSecondary);
}
#about-us .about-us .row .kiri {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in;
}
#about-us .about-us .row .kiri .about-desc h3 {
  font-size: 60px;
  font-family: "Fredoka", sans-serif;
  margin-bottom: 20px;
}
#about-us .about-us .row .kiri .about-desc p {
  line-height: 28px;
  width: 450px;
  margin-bottom: 40px;
}
#about-us .about-us .row .kanan {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media screen and (max-width: 640px) {
  #about-us {
    height: -moz-max-content;
    height: max-content;
  }
  #about-us .about-us .row .kiri {
    margin-top: 100px;
    height: -moz-max-content;
    height: max-content;
  }
  #about-us .about-us .row .kiri .about-desc h3 {
    font-size: 40px;
  }
  #about-us .about-us .row .kiri .about-desc p {
    width: 300px;
  }
}
@media screen and (max-width: 400px) {
  #about-us .about-us .row .kiri {
    padding: 0 50px;
  }
  #about-us .about-us .row .kiri .about-desc .btn {
    margin-bottom: 10px;
  }
  #about-us .about-us .row .kanan {
    margin-top: -100px;
    overflow-x: hidden;
  }
  #about-us .about-us .row .kanan img {
    width: 400px;
  }
}

#service {
  height: -moz-max-content;
  height: max-content;
  background-color: var(--colorSecondary);
}
#service .service .container {
  padding: 100px 0;
}
#service .service .container .kambing {
  margin-bottom: 100px;
}
#service .service .container .row .kiri {
  display: flex;
  justify-content: center;
  align-items: center;
}
#service .service .container .row .kiri .about-desc h3 {
  font-size: 60px;
  font-family: "Fredoka", sans-serif;
  margin-bottom: 20px;
}
#service .service .container .row .kiri .about-desc p {
  line-height: 28px;
  width: 450px;
  margin-bottom: 40px;
}
@media screen and (max-width: 640px) {
  #service {
    height: -moz-max-content;
    height: max-content;
  }
  #service .service .container .kambing .kiri {
    height: -moz-max-content;
    height: max-content;
  }
  #service .service .container .kambing .kiri .about-desc h3 {
    font-size: 40px;
  }
  #service .service .container .domba {
    margin-top: 100px;
  }
  #service .service .container .domba .kiri {
    order: 2;
    height: -moz-max-content;
    height: max-content;
  }
  #service .service .container .domba .kiri .about-desc h3 {
    font-size: 40px;
  }
}
@media screen and (max-width: 400px) {
  #service .service .container {
    overflow-x: hidden;
  }
  #service .service .container .kambing {
    padding: 100px 0 5px;
  }
  #service .service .container .kambing .kiri .about-desc {
    width: 300px;
  }
  #service .service .container .kambing .kiri .about-desc p {
    width: 300px;
  }
  #service .service .container .kambing .kiri .about-desc .btn {
    margin-bottom: 10px;
  }
  #service .service .container .kambing .kanan {
    margin-top: -100px;
    overflow-x: hidden;
  }
  #service .service .container .kambing .kanan img {
    width: 350px;
  }
  #service .service .container .domba {
    padding: 100px 0;
  }
  #service .service .container .domba .kiri {
    padding: 0;
  }
  #service .service .container .domba .kiri .about-desc {
    width: 300px;
  }
  #service .service .container .domba .kiri .about-desc p {
    width: 300px;
  }
  #service .service .container .domba .kiri .about-desc .btn {
    margin-bottom: 10px;
  }
  #service .service .container .domba .kanan {
    margin-top: -100px;
    overflow-x: hidden;
  }
  #service .service .container .domba .kanan img {
    width: 350px;
  }
}/*# sourceMappingURL=style.css.map */